include README.md
include CHANGES.md
include AUTHORS.md
include licenses/*

# do not include sep.pyx (see setup.py).
include src/*.[c,h]
include src/*.c.inc

recursive-include docs *
prune docs/_build
prune docs/api
