include README.md
include CHANGES.md
include AUTHORS.md

# do not include sep.pyx (see setup.py).
include src/*.[c,h]
include licenses/*
include test.py

recursive-include docs *
prune docs/_build
prune docs/api
